body {
  position: relative;
  height: 100%;
  width: 100%;
}

html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

a {
  word-wrap: break-word;
}

p {
  margin-top: 5%;
  margin-bottom: 5%;
}

#map {
    height: 100%;
    position: absolute;
    top:0;
    left: 0;
    right: 0;
    bottom: 0;
  }

.vol{
  width: 100%;
}
#container{
    height: 100%;
    background: rgb(255, 237, 246);
}
.filters{
  height: 70%;
  width: 20%;
  background-color:rgba(238, 238, 238, 0.8);
  position: absolute;
  border-radius: 0px 0px 0px 2.5%;
  right: 0;
  top: 0;
}
.filters p {
  margin: 0;
}

.list {
  overflow-y: scroll;
  height: 90%;
}

.results{
  position: absolute;
  top: 0;
  left: 0;
  height: 30%;
  width: 20%;
  padding-top: 1%;
  padding-left: 1%; 
  background-color: rgba(238, 238, 238, 0.8);
  word-wrap: break-word;
}

.image{
  margin-left: 6%;
  margin-right: 10%;
  width: 80%;
  border-radius: 5%;
}
.row{
  height: 100%;
  width:100%;
  margin: 0;
}


.nopad {
  padding: 0;
}

.zindex {
    z-index: 22;
}